<table align="left" width=100%>
    <tr>
        <td width="20%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> Faculty Notebook <br> ( Session 6 ) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Import Libraries](#lib)**
2. **[Large Sample Test](#z)**
    - 2.1 - **[Two Sample Z Test](#2z)**
3. **[Small Sample Test](#t)**
    - 3.1 - **[Two Sample t Test (Unpaired)](#2t)**
    - 3.2 - **[Paired t Test](#paired)**
4. **[Z Proportion Test](#prop)**
    - 4.1 - **[One Sample Test](#1_p)**
    - 4.2 - **[Two Sample Test](#2_p)**

<a id="lib"></a>
# 1. Import Libraries

**Let us import the required libraries.**

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random 
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.stats import weightstats as stests
from statsmodels.stats import weightstats as proportions_ztest
import warnings
warnings.filterwarnings("ignore")

<a id="z"></a>
# 2. Large Sample Test

If the sample size is sufficiently large (usually, n > 30) then we use the `Z-test`. If population standard deviation ($\sigma$) is unknown, then the sample standard deviation (s) is used to calculate the test statistic.

<a id="2z"></a>
## 2.1 Two Sample Z Test

#### 1. A study was carried out to understand amount of haemoglobin in blood for males and females. A random sample of 160 males and 180 females have means of 13 g/dl and 15 g/dl. The two samples have standard deviation of 4.1 g/dl for male donors and 3.5 g/dl for female donor . Can it be said the population means of concentrations of the elements are the same for men and women? Use  Î± = 0.01.

In [20]:
#Let mu1 be the popultaion concentration of the haemoglobin for males 
#Let mu2 be the popultaion concentration of the haemoglobin for females

n1=160
n2=180

samp1_mean=13
samp2_mean=15

s1=4.1
s2=3.5

alpha=0.01

#Since n1 and n2 are greater than 30 therefore we will perform a two sample Z test

#Hypothesis 

#H0: mu1=mu2 (claim)
#H1:mu1 not equal to mu2
#It is two tailed test and alpha=0.01

#Critical Value
CV=stats.norm.isf(alpha/2)

print("Critical Value= +/-", CV)

#Finding Test Value and P-Value
z=(samp1_mean-samp2_mean)/np.sqrt(((s1**2)/n1) + ((s2**2)/n2))

print("Test Value=", z)


pval= 2*stats.norm.cdf(z)
print("P-Value=", pval)

#Decision
print("Reject H0 since |-4.80| > 2.58 and P-Value  << 0.0.1")

#Conclusion
print("We have enough evidence to reject the claim H0 and conclude that males and females have different concentrations levels of haemoglobin")

Critical Value= +/- 2.575829303548901
Test Value= -4.806830552525058
P-value= 1.5334185117556499e-06
Reject H0 since |-4.80| > 2.58 and P value  << 0.0.1
We have enough evidence to reject the claim H0 and conclude that males and females have different concentrations levels of haemoglobin

#### 2. The training institute <i>Nature Learning</i> claims that the students trained in their institute have overall better performance than the students trained in their competitor institute <i>Speak Global Learning</i>. We have a sample data of 500 students from each institute along with their total score collected from independent normal populations. Frame a hypothesis and test the Nature Learning's claim with 99% confidence.

Consider the total score for students given in the CSV file `StudentsPerformance.csv`.

In [21]:
df = pd.read_csv("./data/StudentsPerformance.csv")

df.head()

,gender,race/ethnicity,lunch,test preparation course,math score,reading score,writing score,total score,training institute
0,female,group B,standard,none,89,55,56,200,Nature Learning
1,female,group C,standard,completed,55,63,72,190,Nature Learning
2,female,group B,standard,none,64,71,56,191,Nature Learning
3,male,group A,free/reduced,none,60,99,72,231,Nature Learning
4,male,group C,standard,none,75,66,51,192,Nature Learning

In [22]:
#Find Unique Training Institute
df['training institute'].unique()

array(['Nature Learning', 'Speak Global Learning'], dtype=object)

In [23]:
#Make 2 sample groups 
samp1 = df[df['training institute'] == 'Nature Learning']['total score']
samp2 = df[df['training institute'] == 'Speak Global Learning']['total score']

n1= len(samp1)
print("n1=",n1)
n2= len(samp2)
print("n2=",n2)

#Hypothesis

#H0: mu1<=mu2
#H1: mu1>=mu2 (claim)

# For 99% confidence interval
alpha = 0.01

#Right Tailed test

#Critical Value
CV=stats.norm.isf(alpha)
print("Critical Value=",CV)

#Test value and P-Value

tval, pval =stests.ztest(x1=samp1, x2=samp2, value=0, alternative='larger')

print("Test value=",tval)
print("P-Value=",pval)

#Decision
print("Do Not reject H0 since |0.15| < 2.32 and P-Value >> 0.01")

#Conclusion
print("There is not enough evidence to support the claim that the two institutes performance levels differ")

n1= 500
n2= 500
Critical Value= 2.3263478740408408
Test value= 0.15125511253949914
P-Value= 0.43988723840898025
Do Not reject H0 since |0.15| < 2.32 and PValue >> 0.01
There is not enough evidence to support the claim that the two institutes performance levels differ

<a id="t"></a>
# 3. Small Sample Test

If the sample size is small (usually, n < 30) then we use the `t-test`. These tests are also known as `exact tests`.

<a id="2t"></a>
## 3.1 Two Sample t Test (Unpaired)

#### 1. An experiment was conducted to compare the pain relieving hours of two new medicines. Two groups of 14 and 15 patients were selected and were given comparable doses. Group 1 was given medicine 1 and group 2 was given medicine 2. The following data is obtained from the two samples. Test whether the two populations give the same mean hours of relief. Assume the data comes from normal distribution has an equal variance. Use Î± = 0.01

<img src='unpaired_2t.PNG'>

In [24]:
n1=14
n2=15

samp1_mean=6.4
samp2_mean=7.3

s1=1.4
s2=1.5

alpha=0.01
#Here Sample sizes are <30 and s1 and s2 are given
#With equal variance assumption, we will use 2 sample t test
#Get the pooled standard deviation

dof= n1+n2-2
pooled_var=(((n1-1)*s1**2)+((n2-1)*s2**2))/dof
s=np.sqrt(pooled_var)

print("Pooled Standard Deviation=",s)

#Hypothesis
#H0: mu1=mu2
#H1: mu1 is not equal to mu2 (claim)

#Critical Value for Two tailed test and alpha = 0.01
CV=stats.t.isf(alpha/2, dof)

print("Critical Value=",CV)

print("There is not enough evidence to reject the claim and hence we conclude that the two medicines have similar hours of pain releif")

Pooled Standard Deviation= 1.4527113857784588
Critical Value= 2.7706829571216756
There is not enough evidence to reject the claim and hence we conclude that the two medicines have similar hours of pain releif

**2. The teachers' association claims that the total score of the students who completed the test preparation course is different than the total score of the students who have not completed the course. The sample data consists of 15 students who completed the course and 18 students who have not completed the course. Test the association's claim with âº = 0.05.**

Consider the total score of the students who have/ have not completed the preparation course are given in the CSV file `totalmarks_2ttest.csv`.

In [25]:
df = pd.read_csv("./data/totalmarks_2ttest.csv")
df.head()

,gender,race/ethnicity,lunch,test preparation course,math score,reading score,writing score,total score,training institute
0,male,group E,standard,completed,84,83,78,245,Speak Global Learning
1,male,group C,free/reduced,completed,79,77,75,231,Speak Global Learning
2,male,group A,standard,none,91,96,92,279,Nature Learning
3,female,group B,free/reduced,completed,76,94,87,257,Speak Global Learning
4,male,group A,standard,completed,46,41,43,130,Nature Learning

In [26]:
df['test preparation course'].unique()

array(['completed', 'none'], dtype=object)

In [41]:
grp1 = df[df['test preparation course']=='completed']['total score']
grp2 = df[df['test preparation course']=='none']['total score']

print("Group1 Length:",len(grp1))
print("Group2 Length:",len(grp2))

alpha = 0.05

#Hypothesis 
#H0: mu1=mu2 
#H1: m1 is not equal to mu2 (Claim)

#Check for equality of variance
stat1, pval = stats.levene(grp1,grp2)
print(pval)

print("Since pval >> 0.05 we do not reject H0 and conclude tat variances are equal")
dof= n1+n2-2

#Critical values for two tailed test and alpha = 0.05
#We have small samples where n<30 for which we will go for 2 sample t test

CV=stats.t.isf(alpha/2, df=dof)
print("Critical Value=+/-",CV)

#Test Value and P-value

tval, pval = stats.ttest_ind(a=grp1,b=grp2, alternative="two-sided", equal_var='True')

print("Test Value=", tval)
print("P-Value=", pval)

#Decision
print("Do not reject H0 since 1.4<2.03 and also P-Value >> 0.05")

#Conclusion
print("There is not enough evidence to support the claim that the those who the test preparation course will score differently than those who don't")

Group1 Length: 359
Group2 Length: 641
0.24370729373742916
Since pval >> 0.05 we do not reject H0 and conclude tat variances are equal
Critical Value=+/- 1.9636544506280507
Test Value= -1.1187643964722052
P-Value= 0.2635098684744574
Do not reject H0 since 1.4<2.03 and also P-Value >> 0.05
There is not enough evidence to support the claim that the those who the test preparation course will score differently than those who don't

<a id="paired"></a>
## 3.2 Paired t Test

**1. A training institute wants to check if their writing training program was effective or not. 17 students are selected to check the hypothesis. Consider 0.05 as the level of significance.**

The writing scores before and after training are provided in the CSV file `WritingScores.csv`.

In [28]:
df=pd.read_csv("./data/WritingScores.csv")
df.head()

   score_before  score_after
0            59           50
1            62           67
2            76           92
3            32           75
4            61           98

In [29]:
#Make the 2 sample groups 

before = df['score_before']
after = df['score_after']

n= len(df)
dof = n-1
alpha=0.05

#Hypotheis 
#H0: mean_diff=0 
#H1: mean_diff is not equal to zero (claim)

#Critical Value for alpha=0.05 and two-tailed test

CV=stats.t.isf(alpha/2,dof)
print("Critical Value=+/-",CV)

#Test Value and P-Value
tval, pval = stats.ttest_rel(before, after, alternative='two-sided')

print("Test Value=", tval)
print("P-Value=", pval)

#Decision
print("Do not reject H0 since |-1.43| < 2.11 and P-Value is >> 0.05")

#Conclusion
print("There is not enough evidence to reject the claim that scores after the training differ from scores before the training ")

Critical Value=+/- 2.1199052992210112
Test Value= -1.4394882729049499
P Value= 0.16929012896279846
Do not reject H0 since |-1.43| < 2.11 and P Value is >> 0.05
There is not enough evidence to reject the claim that scores after the training differ from scores before the training

#### 2. An energy drink distributor claims that a new advertisement poster, featuring a life-size picture of a well-known athlete, will increase the product sales in outlets by an average of 50 bottles in a week. For a random sample of 10 outlets, the following data was collected. Test that the hypothesis that there the advertisement was effective in increasing sales. Test the hypothesis using critical region technique. Use Î± = 0.05.

Given data:

        sales_before = [33, 32, 38, 45, 37, 47, 48, 41, 45]
        sales_after = [42, 35, 31, 41, 37, 36, 49, 49, 48]

In [30]:
#Make the Data Series
sales_before = pd.Series([33, 32, 38, 45, 37, 47, 48, 41, 45])
sales_after = pd.Series([42, 35, 31, 41, 37, 36, 49, 49, 48])

alpha = 0.05

#Here we perform a paired t test to decide if the ad campaign was effective in increasing the sales
n=10

#Difference is defined as Sales Before - Sales After
mean_diff = np.mean(sales_before) - np.mean(sales_after)
print("Mean Difference:",mean_diff)

#Hypothesis
# H0: mean_diff>=0 
# H1: mean_diff<0 (claim)
#Left tailed Test and alpha = 0.05
CV=stats.t.isf(alpha, df=n-1)
print("Critical Value=-",CV)

#Test Value and P-Value
tval, pval = stats.ttest_rel(sales_before, sales_after, alternative="less")

print("Test Value=", tval)
print("P-Value=", pval)

#Decision
print("Do not reject H0 since |-0.1008| < |-1.8| and P-Value >> 0.05")

#Conclusion
print("There is not enough evidence to support the claim that there will be effective increase in sales after the sportsperson ad campaign")

Mean Difference: -0.22222222222222143
Critical Value=- 1.8331129326536337
Test Value= -0.10085458113185983
P-Value= 0.46107385734626494
Do not reject H0 since |-0.1008| < |-1.8| and P-Value >> 0.05
There is not enough evidence to support the claim that there will be effective increase in sales after the sportsperson ad campaign

<a id="prop"></a>
# 4. Z Proportion Test

<a id="2_p"></a>
## 4.2 Two Sample Test


#### 1. A team of nutritionists believes that each institute provides 'standard' lunch to an equal proportion of students. A sample of students from institutes <i>Nature Learning</i> and <i>Speak Global Learning</i> is given. Consider the null hypothesis as equality of proportion with 0.1 level of significance.

Consider the sample data available in the CSV file `StudentsPerformance.csv`.

In [36]:
df = pd.read_csv("./data/StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,lunch,test preparation course,math score,reading score,writing score,total score,training institute
0,female,group B,standard,none,89,55,56,200,Nature Learning
1,female,group C,standard,completed,55,63,72,190,Nature Learning
2,female,group B,standard,none,64,71,56,191,Nature Learning
3,male,group A,free/reduced,none,60,99,72,231,Nature Learning
4,male,group C,standard,none,75,66,51,192,Nature Learning

In [35]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

In [40]:
alpha = 0.01

#Get the Samples
NL= df[df['training institute']== 'Nature Learning']
SGL = df[df['training institute']== 'Speak Global Learning']

#Total Sample Size for each training institute

grp1=len(NL)
grp2=len(SGL)

print("NL Length =", grp1)
print("SGL Length =", grp2)

n1=len(NL[NL['lunch']=='standard'])
n2=len(SGL[SGL['lunch']=='standard'])

print("NL with Standard Lunch",n1,"and SGL with Standard Lunch",n2)

#Hypothesis 
#H0: p1=p2 (claim)  
#H1: p1 not equal to p2
#alpha = 0.01 and two tailed test

#Critical value
CV=stats.norm.isf(alpha/2)

print("Critical Value =",CV)

#Test Value and P-Value 
tval, pval = sm.stats.proportions_ztest(nobs=np.array([grp1, grp2]), count=np.array([n1, n2]), alternative='two-sided')

print("Test Value =",tval)
print("P-Value =",pval)

#Des
print("Do not reject H0 since |0.79| < 1.96 and P-value >>0.01")

#Conclusion
print("there is not enough evidence to reject the claim and hence we conclude that the proportion ")

NL Length = 500
SGL Length = 500
NL with Standard Lunch 329 and SGL with Standard Lunch 317
Critical Value = 2.575829303548901
Test Value = 0.7935300106078008
P Value = 0.4274690915859791
Do not reject H0 since |0.79| < 1.96 and P-value >>0.01
there is not enough evidence to reject the claim and hence we conclude that the proportion

#### 2. Steve owns a kiosk where he sells two magazines - A and B in a month. He buys 100 copies of magazine A out of which 78 were sold and 70 copies of magazine B out of which 65 were sold. Is there enough evidence to say that magazine is B is more popular? Test the claim using p-value technique with Î± = 0.05.

In [43]:
nobs=np.array([100, 70])

count=np.array([78, 65])

alpha = 0.05

#Hypothesis 
#H0:p1>=p2
#H1: p1<p2 (claim)




tval, pval= sm.stats.proportions_ztest(nobs=nobs, count=count, alternative="smaller")

print("P-Value=", pval)

#decision
print("Magzine B is more popular because its sales is higher")

P-Value= 0.004549551600547303

# END