In [2]:
# elif statement 
score=int(input("enter the score"))
if (score<=100 and score>=90):
    print("A grade")
elif (score<90 and score>=80):
    print("B grade")
elif(score<80 and score>=70):
    print("C grade")
elif(score<70 and score>=60):
    print("D grade") 
else:
    print("fail")

enter the score56
fail

```
5% if Selling Price is atmost 5000
12% if Selling Price is atmost 15000
20% if Selling Price is atmost 25000
30% if Selling Price is more than 25000
```

In [ ]:
amount=int(input("enter the billing amount"))
if amount<=5000:
    discount=0.05*amount
    print("the discount is ",disc,"final amount is",amount-discount)
elif amount<=15000:
    discount=0.12*amount
    print("the discount is ",disc,"final amount is",amount-discount)

```
3.Suppose you would love to get a job in Hawaii but would only accept it if the annual pay is at least 85,000. You would also be willing to take a job in New York if the annual pay is at least 100,000 or anywhere else if the annual pay is at least 75,000. The following example takes two inputs from the user, location and pay and returns a particular response based on the inputs.
```

In [3]:
location=input("enter the job location")
pay=int(input("enter the pay details"))
if location=='Hawaii':
    if pay>=85000:
        print("i will accept the offer")
    else:
        print("declining")
elif location=='Newyork':
    if pay>=100000:
        print("i will accept the offer")
    else:
        print("declining")
elif pay>=75000:
    print("i will accept the offer ")

enter the job locationHawaii
enter the pay details5600
declining

In [6]:
lc=input("enter the length of the card")
if len(lc)>14 or len(lc)<14 :
    print("invalid length")
    lc_valid=False
else:
    print("valid length")
    lc_valid=True
yr=int(input("enter the year"))
if yr>=2021:
    print("valid year")
    valid_yr=True
else:
    print("invalid year")
    valid_yr=False
mn=int(input("enter the month"))
if mn<1 or mn>12:
    print("invalid month")
    valid_mn=False
else:
    print("valid month")
    valid_mn=True
cvv=input("enter your cvv number ")
if len(cvv) >3 0r len(cvv)<3:
    print("invlid cvv")
    valid_cvv=False
else:
    print("valid cvv")
    valid_cvv=True
  # final check 
if(lc_valid and valid_mn and valid_yr and valid_cvv):
    print(" your debit card is valid ")
else:
    print("your debit card is invalid")

enter the length of the card12344
invalid length
enter the year2023
valid year

In [7]:
l=[34,45,2,454]    # list of values
for item in l:
    print(item)

34
45
2
454

In [11]:
d={1:20,2:50,4:89}  # dict
for i in d.values():
    print(i)

20
50
89

In [9]:
l={34,45,2,454}   # set of values 
for item in l:
    print(item)

34
2
45
454

In [10]:
s="pytthon"   # string
for char in s:
    print(char)

p
y
t
t
h
o
n

In [12]:
s=1223
for i in s:
    print(i)

TypeError: 'int' object is not iterable

In [15]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [17]:
list2=[[1,2],[45,66],[567,78]]
for i in list2:
    for j in i:
        print(j)

1
2
45
66
567
78

In [21]:
list3=[[1,2],56,67,[89,90],(90,67)]
for i in list3:
    if type(i)==list or type(i)==tuple:
        for j in i:
            print(j)
    else :
        print(i)

1
2
56
67
89
90
90
67

In [24]:
# sum of n numbers 
l= range(1,10)
sum1=0
for i in l :
    sum1=sum1+i
    #print(sum1)  # intermediate 
print(sum1)  # last consolidted value

45

In [25]:
# print 1 to 10 
i=1
while(i <11):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [26]:
s="pes university"
for i in s:
    if i=='e':
        break
    print(i)

p

In [27]:
s="pes university"
for i in s:
    if i=='e':
        continue
    print(i)

p
s

u
n
i
v
r
s
i
t
y

In [1]:
s='pes university'
char=input("enter the character to be searched")
count=0
for i in s:
    if i==char:
        count=count+1
print("total number of times the character occured is ",count)

enter the character to be searchede
total number of times the character occured is  2

In [2]:
l=[23,345.67,89,55,2,4,5,8]
oddlist=[]
evenlist=[]
for i in l:
    if i%2==0:
        evenlist.append(i)
    else:
        oddlist.append(i)
print("the items in odd list is",oddlist)
print("the items present in even list is ",evenlist)

the items in odd list is [23, 345.67, 89, 55, 5]
the items present in even list is  [2, 4, 8]

In [4]:
d={}
for i in range(16):
    d[i]=i**2
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [5]:
s="python123#$%"
cd=ca=sp=0
for i in s:
    if i.isalpha():
        ca=ca+1
    elif i.isdigit():
        cd=cd+1
    else:
        sp=sp+1
print("no of characters",ca)
print("no of digits",cd)
print("no of spl characters",sp)

no of characters 6
no of digits 3
no of spl characters 3

In [8]:
import random
newl=[]
for i in range(40):
    x=random.randint(-50,50)
    if x<0:
        newl.append(x)
print("the list with negative values",newl)
print("the count f negative values",len(newl))

the list with negative values [-45, -3, -42, -9, -12, -28, -45, -12, -18, -42, -39, -45, -26, -18, -41, -23, -1, -32, -32, -39]
the count f negative values 20

In [11]:
y=random.random()
y

0.03751304233810071

In [12]:
dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_floor',
 '_inst',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randbytes',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [13]:
l=[12,24,35,24,88,120,155,88,120,155,10,2,3]
newl=[]
for i in l:
    if i not in newl:
        newl.append(i)
print(newl)

[12, 24, 35, 88, 120, 155, 10, 2, 3]

In [15]:
l=range(10)
# square all the items in list 
lout=[  i**2    for i in l ]
lout

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
# print only the even numbers in the list
lout=[  i  for i in l if i%2==0]
lout

[0, 2, 4, 6, 8]

In [ ]:
lout=[  i**2  for i in l if i%2==0]   # square of all even numbers 
lout

In [17]:
# print even or odd  for the item in the list 
lout=[ "even" if i%2==0 else  "odd" for i in l ]
lout

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [19]:
[i for i in range(1,31) if i%2==0 and i%5==0]

[10, 20, 30]

In [20]:
[  i**2 if i %2==0 else i**3  for i in range(1,31) if i%3==0]

[27, 36, 729, 144, 3375, 324, 9261, 576, 19683, 900]

In [28]:
s="at pes univeru asity"
sc={  i for i in s if i in 'aeiouAEIOU'}
sc

{'a', 'e', 'i', 'u'}

In [29]:
lc=[ i for i in s if i in 'aeiouAEIOU']
lc

['a', 'e', 'u', 'i', 'e', 'u', 'a', 'i']

In [32]:
d={ i:i**2 for i in range(1,11)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [33]:
s="bananas"
{ i:s.count(i) for i in s}

{'b': 1, 'a': 3, 'n': 2, 's': 1}

In [34]:
l1=["neem","apple","orange"]
{ i:len(i) for i in l1}

{'neem': 4, 'apple': 5, 'orange': 6}

In [35]:
s=input("enter the string ")
{ i for i in s.split()}

enter the string at pes university at karnataka university

{'at', 'karnataka', 'pes', 'university'}

In [37]:
s=input("enter the string ")
lout=[ i for i in s.split()]
lout

enter the string at pes university at university

['at', 'pes', 'university', 'at', 'university']

In [38]:
sorted(set(lout))

['at', 'pes', 'university']

In [40]:
[  (a,b,c)  for a in range(1,31) for b in range(a,31) for c in range(b,31) if a**2 +b**2==c**2 ]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (18, 24, 30),
 (20, 21, 29)]

In [39]:
[  (a,b,c)  for a in range(1,31) for b in range(1,31) for c in range(1,31) if a**2 +b**2==c**2 ]

[(3, 4, 5),
 (4, 3, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 6, 10),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 5, 13),
 (12, 9, 15),
 (12, 16, 20),
 (15, 8, 17),
 (15, 20, 25),
 (16, 12, 20),
 (18, 24, 30),
 (20, 15, 25),
 (20, 21, 29),
 (21, 20, 29),
 (24, 7, 25),
 (24, 10, 26),
 (24, 18, 30)]

In [43]:
  [ [ i * j  for  j in range(1,11) ]  for i in range(13,18)]

[[13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170]]

In [44]:
prairie_pirates = [
['Tractor Jack', 1000, True],             
['Plowshare Pete', 950, False],
['Prairie Lily', 245, True],
['Red River Rosie', 350, True],
['Mad Athabasca McArthur', 842, False],
['Assiniboine Sally', 620, True],
['Thresher Tom', 150, True],
['Cranky Canola Carl', 499, False]
]

(a) Use a single list comprehension to create a list of the pirate names who plundered more than 400 sacks of assorted grains.
(b) Use a single list comprehension to create a list of the pirate names who don't like parrots.
(c) Suppose that the average market value of a sack of grain is $42. Use a single list comprehension to create a list of the market values of each pirate's grain.
(d) Use a single list comprehension to create a list of lists where each sublist consists of a pirate's name and  the value of his/her plundered sacks of grain (calculate grain values as in part (c)), but only include those pirates who like parrots.

In [ ]:

best_plunderers = [pirate[0] for pirate in prairie_pirates if pirate[1]>400]
print(best_plunderers)

parrot_haters = [pirate[0] for pirate in prairie_pirates if pirate[2]==False]
print(parrot_haters)


plunder_values = [pirate[1]*42 for pirate in prairie_pirates]
plunder_values

names_and_plunder_values = [[pirate[0], pirate[1]*42] for pirate in prairie_pirates if pirate[2]==True]
print(names_and_plunder_values)