<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> TakeHome <br> (Session 4) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

In [27]:
import pandas as pd

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 1. Create a dictionary named 'europe_dict' which has names of countries in europe, their capital and their population. 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

europe_dict = {
       "Country":["Spain","France","Germany","Norway"],
       "Capital":["Madrid","Paris","Berlin","Oslo"],
       "Population":[46.77,66.03,80.62,5.084]
}

In [28]:
# type your data here
europe_dict = {
       "Country":["Spain","France","Germany","Norway"],
       "Capital":["Madrid","Paris","Berlin","Oslo"],
       "Population":[46.77,66.03,80.62,5.084]
}

data = pd.DataFrame(europe_dict)


print("\n\nDataframe: \n", data)

Dataframe:
    Country Capital  Population
0    Spain  Madrid      46.770
1   France   Paris      66.030
2  Germany  Berlin      80.620
3   Norway    Oslo       5.084

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 2. Use the data from question 1 and add a new column 'FamousFor'. The column should indicate what each country is famous for.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [29]:
# type your data here
famous_for = ['Food', 'Fashion', 'Beer','Norther Lights']
    
data = data.assign(Famous_For=famous_for)


print("Added Column Famous_For")
print(data)

Added Column Famous_For
   Country Capital  Population      Famous_For
0    Spain  Madrid      46.770            Food
1   France   Paris      66.030         Fashion
2  Germany  Berlin      80.620            Beer
3   Norway    Oslo       5.084  Norther Lights

**Note:** Assigning a column that doesnâ€™t exist will create a new column.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 3. Use the data created in question 1, to do the following:
                          <ol type = '1'>
                              <li>  Access column 'Captial' by specifying the column number. </li>
                              <li>  Access column 'Population' by specifying the column name.
                              <li>  Access a country information </li>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [30]:
# 1. Access column 'Captial' by specifying the column number.

# type your data here
data.iloc[:,1]

0    Madrid
1     Paris
2    Berlin
3      Oslo
Name: Capital, dtype: object

In [31]:
# 2. Access column 'Population' by specifying the column name.

# type your data here
data['Population']

0    46.770
1    66.030
2    80.620
3     5.084
Name: Population, dtype: float64

In [33]:
# 3. Access a country information
# Lets say we want access information for France

# type your data here
france= data[data['Country'] == 'France']

print(france)

  Country Capital  Population Famous_For
1  France   Paris       66.03    Fashion

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 4. Read a csv file "example.csv", print it and also check its dimensions
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
# import the data set
# type your data here

df = pd.read_csv('./Dataset/example.csv')

In [18]:
# check dimension/shape of the dataframe

# type your data here
df.shape

(23, 3)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 5. Create a new column BMI, calculate the BMI of persons based on their weight and height.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [34]:
# type your data here
df['BMI'] = df['Weight (in kg)']/(df['Height (in m)'] * df['Height (in m)'])

df

    Age  Weight (in kg)  Height (in m)        BMI
0    45              60           1.35  32.921811
1    12              43           1.21  29.369579
2    54              78           1.50  34.666667
3    26              65           1.21  44.395875
4    68              50           1.32  28.696051
5    21              43           1.52  18.611496
6    10              32           1.65  11.753903
7    57              34           1.61  13.116778
8    75              23           1.24  14.958377
9    32              21           1.52   9.089335
10   23              53           1.50  23.555556
11   34              65           1.76  20.983988
12   55              89           1.65  32.690542
13   23              45           1.75  14.693878
14   56              76           1.69  26.609713
15   67              78           1.85  22.790358
16   26              65           1.21  44.395875
17   56              74           1.69  25.909457
18   67              78           1.85  22.790358
19   26              65           1.21  44.395875
20   68              50           1.32  28.696051
21   56              76           1.69  26.609713
22   67              78           1.85  22.790358

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. Create a pandas series having values 4, 7, -5, 3, NAN and their index as d, b, a, c, e
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [39]:
# type your data here
values = [4, 7, -5, 3, 'NAN']
index = ['d', 'b', 'a', 'c', 'e']

series = pd.Series(values, index=index)

series

d      4
b      7
a     -5
c      3
e    NAN
dtype: object

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Using the series in question 6, find:
                        <ol type = '1'>
                            <li> Find the minimum of all values </li>
                            <li> Find the maximum of all value </li>
                        </ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [40]:
# the minimum of all values

# type your data here
series.min()

TypeError: '<=' not supported between instances of 'int' and 'str'

In [ ]:
# the maximum of all value

# type your data here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 8. Using the series in question 6, sort:
                         <ol type = '1'>
                             <li> the values in ascending order </li>
                             <li> the values in decending order  </li>
                        </ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# sorting the values in ascending order

# type your data here

In [ ]:
# sorting the values in decending order

# type your data here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 9. Import dataset 'flights' from library seaborn. Print the first 10 rows and last 20 rows of the data set.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# load the flights data set as flight

# type your data here

In [ ]:
# print first 10 rows

# type your data here

In [ ]:
# print last 20 rows

# type your data here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Import dataset 'iris' from library seaborn. Check for datatypes of all variable.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# load the iris data set as iris

# type your data here

In [ ]:
# check the data types of each variable

# type your data here