<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Session 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content


1. **[List](#list)**
2. **[Tuple](#tuple)**
3. **[Set](#set)**
4. **[Dictionary](#dict)**
5. **[Conditional Statements](#cond)**
6. **[Python Flow Control](#flow_control)**
7. **[List Comprehension](#lc)**
8. **[User-Define Function](#User_Define)**
9. **[Lambda Functions](#Lambda_Functions)**
    - 9.1 **[Map Function](#Map_Function)**
    - 9.2 **[Filter Function](#Filter_Function)**
    - 9.3 **[Reduce Function](#Reduce_Function)**

### Let's begin with some hands-on practice exercises

<a id="list"> </a>
## 7. List

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a program to perform following list operations on the list given below:<br><br>
                        a. Check the length of mix_list_1<br>
                        b. Check the membership of '24' in mix_list_1<br> 
                        c. Concatenate the mix_list_1 and mix_list_2<br>
                        d. Repeat the mix_list_2 three times </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [18]:
#**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [19]:
# type your code here

print(len(mix_list_1))

5

**b. Check the membership of '24' in mix_list_1**

In [21]:
# type your code here
flag = False
for i in mix_list_1:
    if i == 24:
        flag = True

if flag == True:
    print("24 exists in the List")
else:
    print("24 does not exist in the List")

24 exists in the List

**c. Concatenate the mix_list_1 and mix_list_2**

In [36]:
# type your code here

mix_list_1.extend(mix_list_2)

print(mix_list_1)

['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer', 4, 7, 'Summer']

**d. Repeat the mix_list_2 three times**

In [39]:
# type your code here
mix_list_2*3

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [40]:
#**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [41]:
# type your code here

print(mix_list[0])

Python

**b. Second last element**

In [43]:
# type your code here

print(mix_list[-2])

Data

**c. First three elements**

In [44]:
# type your code here

print(mix_list[0:3])

['Python', 1, 2]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [52]:
#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [53]:
# type your code here

languages_list.append('Data')

print(languages_list)

['R', 'Python', 'C', 'Java', 'Data']

**b. Add elements 'Excel' and 'Data' in the given list**

In [56]:
# type your code here
languages_list.append('Excel')
languages_list.append('Data')

print(languages_list)

['R', 'Python', 'C', 'Java', 'Data', 'Excel', 'Data']

**c. Replace an element 'C' with 'C++' in the given list**

In [58]:
# type your code here
languages_list[2] ='C++'
print(languages_list)

['R', 'Python', 'C++', 'Java', 'Data', 'Excel', 'Data']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. How many times 'Summer' is occuring in a given list?
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [59]:
#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [60]:
# type your code here

seasons_list.count('Summer')

4

<a id="tuple"> </a>
## 8. Tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of num_tuple<br>
                        b. Concatenate the num_tuple and mix_tuple<br>                        
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [67]:
#**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = ('John', 5, -2)

**a. Check the length of num_tuple**

In [68]:
# type your code here

print(len(num_tuple))

3

**b. Concatenate the num_tuple and mix_tuple**

In [71]:
# type your code here
num_tuple = (4, 4, 8)

mix_tuple = ('John', 5, -2)

print(num_tuple + mix_tuple)

(4, 4, 8, 'John', 5, -2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Add a new element '4' to the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [72]:
#**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [74]:
# type your code here
mix_tuple = mix_tuple + (4,)

print(mix_tuple)

(['a', 1, True], 2, 'Science', -5, 4, 4)

<a id="set"> </a>
## 9. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

**Create set of words**

In [9]:
# type your code here

sentence_1 = 'We shall analyse the data using python' 
list1 = list(sentence_1.split(' '))
set1 = set(list1)
print(set1)

sentence_2 = 'Python for data science'
list2 = list(sentence_2.split(' '))
set2 = set(list2)
print(set2)

{'data', 'python', 'using', 'shall', 'We', 'analyse', 'the'}
{'data', 'for', 'science', 'Python'}

**a. Find the number of unique words in the sentences**

In [11]:
# type your code here

print("Since each set contains unique elements, threfore length of set will give the count of unique elements.")

print("Count of unique elements in Set1:", len(set1))

print("Count of unique elements in Set2:", len(set2))

Since each set contains unique elements, threfore length of set will give the count of unique elements.
Count of unique elements in Set1: 7
Count of unique elements in Set2: 4

**b. Find the common words in both the sentences**

In [16]:
# type your code here

print("Common elements in Set1 and Set2:", set1 & set2 )

print("Unique elememts in Set1 and Set2:",  set1.union(set2) - (set1 & set2))

Common elements in Set1 and Set2: {'data'}
Unique elememts in Set1 and Set2: {'python', 'shall', 'for', 'science', 'We', 'Python', 'using', 'analyse', 'the'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

In [23]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

**a. Union**

In [24]:
print("Union:", A.union(B))

Union: {1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87}

**b. Intersection**

In [25]:
# type your code here
print("Intersection:", A & B)

Intersection: {3, 5, 6, 7}

**c. Set of all the elements of set A that are not in set B**

In [27]:
# type your code here
print("Set of all elements that are in set A and not in set B:", A - (A & B))

Set of all elements that are in set A and not in set B: {1, 2, 4, 71, 40, 87}

**d. Set of all the elements of set B that are not in set A**

In [28]:
# type your code here
print("Set of all elements that are in set B and not in set A:", B - (A & B))

Set of all elements that are in set B and not in set A: {8, 42, 51, 54}

**e. Symmetric difference**

In [29]:
# type your code here
print("Symmetric Difference:", (A-B).union(B-A))

Symmetric Difference: {1, 2, 4, 71, 40, 8, 42, 51, 54, 87}

<a id="dict"> </a>
## 10. Dictionary

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Provide solution for the following:<br><br> 
                        a. Write a program to create a dictionary using given keys and values<br> 
                                   Use the keys and values to create a dictionary<br> 
                                   key = ['Weight','BMI','Age','Profession']<br> 
                                   value = [67, 25, 27, 'CA']<br> 
                        b.Use the dictionary created before and Write a code to add a key ('Height':154) to the dictionary<br> 
                        c.Write a program to retrieve the keys/values of dictionary<br> 
                        d.Write a program to get the value for 'Age' from the dictionary
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**a. Write a program to create a dictionary using given keys and values**

**Use the keys and values to create a dictionary**

key = ['Weight','BMI','Age','Profession']

value = [67, 25, 27, 'CA']

In [1]:
# type your code here

key = ['Weight','BMI','Age','Profession']

value = [67, 25, 27, 'CA']

dictionary = dict(zip(key, value))

print(dictionary)

{'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

**d. Write a program to get the value for 'Age' from the dictionary**

In [2]:
# type your code here

print(dictionary['Age'])

27

<a id="cond"> </a>
## 11. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [85]:
# type your code here

n = int(input("Enter number: "))

if n%7 ==0:
    print("Entered number is multiple of 7")
else:
    print("Entered number is not multiple of 7")

Entered number is not multiple of 7

<a id= "flow_control"> </a>
## 12. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Write a program to check whether a number is prime or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [83]:
# type your code here
num = int(input("Enter number:"))

flag = False

if num == 1:
    print("Not a Prime number")
 
elif num > 2:
    for i in range(2,num):
        if i%2 == 0:
            flag = True
            break
           
if flag == True:
    print("Entered number is a Prime number")             
else:
    print("Entered number is not a Prime number")

Entered number is a Prime number

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Write a code to find the simple interest (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [75]:
# type your code here
p = float(input("Enter Principal Amount:"))
r = float(input("Enter Interest Rate %:"))
t = float(input("Enter Time:"))


si = (p*r*t)/100

print("Simple Interest: ",si)

Simple Interest:  160.0

<a id= "lc"> </a>
## 13. List Comprehension

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>23. Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [98]:
# type your code here

sentence = input("Enter sentence:")

vowels = [a for a in sentence if a == 'a' or a == 'e' or a == 'i' or a == 'o' or a == 'u'] 

print(vowels)

['e', 'o']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>24. Use list comprehension to extract numbers from a string </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [99]:
# type your code here
input = input("Enter an alpha numeric string:")
num = [ x for x in input if x.isalpha() == False ]

print(num)

['1', '2']

<a id='User_Define'></a>
## 14. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>25. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [104]:
# Write your code here

my_list = [1,2,3,3,11,34,3,3,4,5]

uniques_list = []

def unique(list1):
    for i in list1:
        if i not in uniques_list:
            uniques_list.append(i)
    return uniques_list            

print("Unique List: ",unique(my_list))

Unique List:  [1, 2, 3, 11, 34, 4, 5]

<a id='Lambda_Functions'></a>
## 15. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>26. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [89]:
# Write your code here

minimum = lambda x,y : x if (x < y) else y  

print(minimum(34,78))

34

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>27. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [105]:
# Write your code here
numbers = [ 74, 85, 14, 23 ]

print(list(map(lambda x : x%5 , numbers)))

[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>28. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [10]:
# Write your code here
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']

def common(item):
    for i in arr2:
        if i == item:
            return i 
    return None  

common_chars = filter(common,arr1)

print(list(common_chars))

['t', 't', 'o', 'i']