In [1]:
# dictionary - key value pairs 
d1={}   # empty dict
type(d1)

dict

In [2]:
d2=dict()
type(d2)

dict

In [3]:
emp={"name":"sam","age":45,"salary":8000}
emp

{'name': 'sam', 'age': 45, 'salary': 8000}

In [4]:
d3={1:"john",2:"sam"}
d4={(1,2):"cse",5:"eee"}

In [5]:
d5={[23,34]:"cse"}

TypeError: unhashable type: 'list'

In [6]:
d4={"emp1":{"name":"sam","age":45},"emp2":{"name":"john","age":34}}
d4

{'emp1': {'name': 'sam', 'age': 45}, 'emp2': {'name': 'john', 'age': 34}}

In [7]:
d5={"student1":[23,34,56],"student2":[67,78,99]}
d5

{'student1': [23, 34, 56], 'student2': [67, 78, 99]}

In [8]:
# to get the values of a particular key d["key"]  d[key]
d5["student1"]

[23, 34, 56]

In [9]:
d4["emp2"]

{'name': 'john', 'age': 34}

In [10]:
d4["emp2"]["age"]  # nested indexing

34

In [11]:
d5

{'student1': [23, 34, 56], 'student2': [67, 78, 99]}

In [13]:
d5['student3']=[45,56,77]  # to add a new pair / update
d5

{'student1': [23, 34, 56], 'student2': [67, 78, 99], 'student3': [45, 56, 77]}

In [14]:
d5

{'student1': [23, 34, 56], 'student2': [67, 78, 99], 'student3': [45, 56, 77]}

In [15]:
d5.keys()

dict_keys(['student1', 'student2', 'student3'])

In [16]:
d5.values()

dict_values([[23, 34, 56], [67, 78, 99], [45, 56, 77]])

In [17]:
d5.items()

dict_items([('student1', [23, 34, 56]), ('student2', [67, 78, 99]), ('student3', [45, 56, 77])])

In [18]:
# to delete  del , pop,popitem()
d5.popitem()  # last inserted item

('student3', [45, 56, 77])

In [19]:
d5

{'student1': [23, 34, 56], 'student2': [67, 78, 99]}

In [20]:
d5.pop("student1")   # needs an argument - key deleted

[23, 34, 56]

In [22]:
del d5['student2']  # delete

In [23]:
d5

{}

In [24]:
L = ['a', 'b', ['cc', 'dd', ['eee', 'fff']], 'g', 'h']

In [27]:
L[-3][-1][-2]

'eee'

In [28]:
L1=[1,2,3,4,5,6,7,8,9,10]
L2=[10,20,30,40,50,60,70,80,90,100]
print(L1+L2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [30]:
set(L1).intersection(set(L2))

{10}

In [31]:
for i in L1:
    if i in L2:
        print(i)

10

In [29]:
list(zip(L1,L2))

[(1, 10),
 (2, 20),
 (3, 30),
 (4, 40),
 (5, 50),
 (6, 60),
 (7, 70),
 (8, 80),
 (9, 90),
 (10, 100)]

In [38]:
trees= ["Mango tree", "Coconut tree", "papaya tree" , "Apple tree", "Banana tree", "Blackberry tree"] 
trees

['Mango tree',
 'Coconut tree',
 'papaya tree',
 'Apple tree',
 'Banana tree',
 'Blackberry tree']

In [33]:
trees[2:5]=[]

In [34]:
trees

['Mango tree', 'Coconut tree', 'Blackberry tree']

In [39]:
trees[3:3]=["Neem Tree", "Peepal Tree"]

In [41]:
s="banana tree"
s.count("n")

2

In [40]:
trees

['Mango tree',
 'Coconut tree',
 'papaya tree',
 'Neem Tree',
 'Peepal Tree',
 'Apple tree',
 'Banana tree',
 'Blackberry tree']

In [44]:
d4

{'emp1': {'name': 'sam', 'age': 45}, 'emp2': {'name': 'john', 'age': 34}}

In [45]:
d6={"name":"jack",'age':90}
d4['emp3']=d6
d4

{'emp1': {'name': 'sam', 'age': 45},
 'emp2': {'name': 'john', 'age': 34},
 'emp3': {'name': 'jack', 'age': 90}}

In [46]:
emp

{'name': 'sam', 'age': 45, 'salary': 8000}

In [50]:
nested_lst = [["Hat", "Glove", "Goggle"], ["Button", "Zipper", "Hook"]]
nested_lst[1][1][0]  # print z

'Z'

In [51]:
list1 = [3, 6, 9, 12, 15, 18, 21]
list2 = [4, 8, 12, 16, 20, 24, 28]
list1[1::2]+list2[0::2]

[6, 12, 18, 4, 12, 20, 28]

In [52]:
key = ['a','b','c','d']
value = [1, 2, 3, 4]
dict(zip(key,value))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [53]:
lakes1=["Malawi", "Medicine", "Tahoe", "Moraine", "Upper Arrow", "Plitvice", "Edith", "Emerald"]

In [54]:
sorted(lakes1,key=len,reverse=True)

['Upper Arrow',
 'Medicine',
 'Plitvice',
 'Moraine',
 'Emerald',
 'Malawi',
 'Tahoe',
 'Edith']

In [56]:
s1= "python language is good"
s2= "great language is python"
common=len(set(s1.split()).intersection(set(s2.split())))
unique=len(set(s1.split()).union(set(s2.split())))
print(common,unique)

3 5

In [61]:
s11=s1.split()
s12=s2.split()

In [62]:
set1=set(s11)

In [63]:
set2=set(s12)

In [65]:
len(set1.union(set2))

5

In [68]:
# simple if 
# if your eligible for voting 
age=12

if age>18:
    print(" your are eligible to vote")

In [69]:
# if else 
age=12
if age>18:
    print(" your are eligible to vote ")
else:
    print("your are not eligible")

your are not eligible

In [70]:
number=int(input("enter the number to check"))
if number%2==0:
    print("the number is even ")
else:
    print(" the number is odd")

enter the number to check23
 the number is odd

In [71]:
# nested if else 
a=21
if a%2==0:
    if a%3==0:
        print("given num is divisble by 2 and3")
    else:
         print("given num is divisble by 2 but not by 3")
else:
    if a%3==0:
        print("given num is divisble by 3 and not by 2 ")
    else:
        print("given num is not divisble by 3 and  2 ")

given num is divisble by 3 and not by 2

In [73]:
#greatest of 3 numbers 
a=20
b=40
c=70
if a>b:
    if a>c:
        print("a is greater")
    else:
        print("c is greater")
else:
    if b>c:
        print("b is greater")
    else:
        print("c is greater")

c is greater