## Table of Content


1. **[List](#list)**
2. **[Tuple](#tuple)**
3. **[Set](#set)**
4. **[Dictionary](#dict)**
5. **[Conditional Statements](#cond)**
6. **[Python Flow Control](#flow_control)**
7. **[List Comprehension](#lc)**
8. **[User-Define Function](#User_Define)**
9. **[Lambda Functions](#Lambda_Functions)**
    - 9.1 **[Map Function](#Map_Function)**
    - 9.2 **[Filter Function](#Filter_Function)**
    - 9.3 **[Reduce Function](#Reduce_Function)**

### Let's begin with some hands-on practice exercises

<a id="list"> </a>
## 7. List

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a program to perform following list operations on the list given below:<br><br>
                        a. Check the length of mix_list_1<br>
                        b. Check the membership of '24' in mix_list_1<br> 
                        c. Concatenate the mix_list_1 and mix_list_2<br>
                        d. Repeat the mix_list_2 three times </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
#**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [4]:
print(len(mix_list_1))

5

**b. Check the membership of '24' in mix_list_1**

In [8]:
for item in mix_list_1:
    if item == 24:
        print("Found 24 in the List")

Found 24 in the List

In [9]:
print(24 in mix_list_1)

True

**c. Concatenate the mix_list_1 and mix_list_2**

In [5]:
mix_list_1+mix_list_2

['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']

**d. Repeat the mix_list_2 three times**

In [10]:
mix_list_2 *3

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
#**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [13]:
print(mix_list[0])

Python

**b. Second last element**

In [14]:
print(mix_list[-2])

Data

**c. First three elements**

In [16]:
print(mix_list[:3])

['Python', 1, 2]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [21]:
languages_list.append('Data')
print(languages_list)

['R', 'Python', 'C', 'Java', 'Data']

**b. Add elements 'Excel' and 'Data' in the given list**

In [26]:
languages_list.append('Excel')
languages_list.append('Data')
print(languages_list)

['R', 'Python', 'C++', 'Java', 'Data', 'Excel', 'Data', 'Excel', 'Data']

**c. Replace an element 'C' with 'C++' in the given list**

In [28]:
languages_list[2]='C++'
print(languages_list)

['R', 'Python', 'C++', 'Java', 'Data', 'Excel', 'Data', 'Excel', 'Data']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. How many times 'Summer' is occuring in a given list?
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [24]:
#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [25]:
seasons_list.count('Summer')

4

<a id="tuple"> </a>
## 8. Tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of num_tuple<br>
                        b. Concatenate the num_tuple and mix_tuple<br>                        
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [29]:
#**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = ('John', 5, -2)

**a. Check the length of num_tuple**

In [30]:
print(len(num_tuple))

3

**b. Concatenate the num_tuple and mix_tuple**

In [31]:
print(tuple(list(num_tuple)+list(mix_tuple)))

(4, 4, 8, 'John', 5, -2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Add a new element '4' to the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [35]:
#**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [37]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)

mix_tuple = mix_tuple + (4,)

print(mix_tuple )

(['a', 1, True], 2, 'Science', -5, 4)

<a id="set"> </a>
## 9. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br> 
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

In [2]:
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

**Create set of words**

**a. Find the number of unique words in the sentences**

In [3]:
sentence_1 = set(list(sentence_1.split(' ')))
print(sentence_1)
sentence_2 = set(list(sentence_2.split(' ')))
print(sentence_2)

{'analyse', 'the', 'using', 'shall', 'We', 'data', 'python'}
{'for', 'Python', 'science', 'data'}

**b. Find the common words in both the sentences**

In [4]:
print(sentence_1 & sentence_2)

{'data'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

In [6]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

**a. Union**

In [7]:
print(A.union(B))

{1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87}

**b. Intersection**

In [8]:
print(A & B)

{3, 5, 6, 7}

**c. Set of all the elements of set A that are not in set B**

In [9]:
print(B - A)

{8, 42, 51, 54}

**d. Set of all the elements of set B that are not in set A**

In [10]:
print(A - B)

{1, 2, 4, 71, 40, 87}

**e. Symmetric difference**

In [11]:
print(A.union(B)- A & B)

{8, 42, 51, 54}

<a id="dict"> </a>
## 10. Dictionary

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Provide solution for the following:<br><br> 
                        a. Write a program to create a dictionary using given keys and values<br> 
                                   Use the keys and values to create a dictionary<br> 
                                   key = ['Weight','BMI','Age','Profession']<br> 
                                   value = [67, 25, 27, 'CA']<br> 
                        b.Use the dictionary created before and Write a code to add a key ('Height':154) to the dictionary<br> 
                        c.Write a program to retrieve the keys/values of dictionary<br> 
                        d.Write a program to get the value for 'Age' from the dictionary
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**a. Write a program to create a dictionary using given keys and values**

**Use the keys and values to create a dictionary**

key = ['Weight','BMI','Age','Profession']

value = [67, 25, 27, 'CA']

In [8]:
key = ['Weight','BMI','Age','Profession']

value = [67, 25, 27, 'CA']

dictionary = dict(zip(key,value))

print(dictionary)

{'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

**d. Write a program to get the value for 'Age' from the dictionary**

In [14]:
print(dictionary.get('Age'))

27

<a id="cond"> </a>
## 11. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
num = int(input("Enter any number:"))

if (num%7 == 0):
    print("Entered number is multiple of 7")
else:
    print("Entered number is not multiple of 7")

Enter any number:45
Entered number is not multiple of 7

<a id= "flow_control"> </a>
## 12. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Write a program to check whether a number is prime or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [29]:
def is_prime(n):
    if n<=1:
        return False
    else:
        for i in range(2, int(n ** 0.5) + 1):
            if n % i == 0:
                return False
            else:
                return True

n=int(input("Enter any number:"))

if is_prime(n):
    print("Entered number is Prime")
else:
    print("Entered number is not Prime")

Enter any number:22
Entered number is not Prime

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Write a code to find the simple interest (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
p=float(input("Enter Principal Amount(Rs):"))
r=float(input("Enter Interest Rate(%):"))
t=float(input("Enter Time(Years):"))

si=(p*r*t)/100

print("Simple Interest Amount:", si)

Enter Principal Amount(Rs):50000
Enter Interest Rate(%):8.5
Enter Time(Years):2
Simple Interest Amount: 8500.0

<a id= "lc"> </a>
## 13. List Comprehension

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>23. Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
user_input = input("Enter any sentence:")
vowel_list = [i for i in user_input if i=='a' or i=='i' or i=='e' or i=='o'  or i=='u']
print(vowel_list)

Enter any sentence:hello
['e', 'o']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>24. Use list comprehension to extract numbers from a string </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
input_string = input("Enter any string:")
num_list = [i for i in input_string if i.isnumeric()]
print(num_list)

Enter any string:hello123
['1', '2', '3']

<a id='User_Define'></a>
## 14. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>25. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [13]:
def unique_values(l):
    unique_list=[]
    for i in l:
        if i not in unique_list:
            unique_list.append(i)
    return unique_list        

my_list = [1,2,3,3,11,34,3,3,4,5]

print(unique_values(my_list))

[1, 2, 3, 11, 34, 4, 5]

<a id='Lambda_Functions'></a>
## 15. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>26. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>27. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>28. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']