In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
mydata = pd.read_csv('./Dataset/Batsman.csv')

mydata.head()

,Unnamed: 0,RunsScored,x -xbar,(x-xbar)^2,z score,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,BallsFaced,BattingPosition,Dismissal,Inning,Opposition,Year
0,NaN,0.0,-38.25,1463.0625,-0.204504,NaN,NaN,NaN,NaN,NaN,24.0,4.0,Caught,2.0,Pakistan,2009.0
1,NaN,5.0,-33.25,1105.5625,-0.177771,NaN,NaN,NaN,NaN,NaN,27.0,3.0,Bowled,2.0,Pakistan,2010.0
2,NaN,5.0,-33.25,1105.5625,-0.177771,NaN,NaN,NaN,NaN,NaN,21.0,4.0,Caught,1.0,Pakistan,2011.0
3,NaN,6.0,-32.25,1040.0625,-0.172425,NaN,NaN,NaN,NaN,NaN,148.0,3.0,Caught,2.0,Pakistan,2012.0
4,NaN,7.0,-31.25,976.5625,-0.167078,NaN,NaN,NaN,NaN,NaN,5.0,3.0,Bowled,1.0,Pakistan,2012.0

In [3]:
mydata.shape

(16, 16)

In [4]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       3 non-null      object
 1   RunsScored       14 non-null     float64
 2   x -xbar          12 non-null     float64
 3   (x-xbar)^2       13 non-null     float64
 4   z score          12 non-null     float64
 5   Unnamed: 5       0 non-null      float64
 6   Unnamed: 6       0 non-null      float64
 7   Unnamed: 7       0 non-null      float64
 8   Unnamed: 8       0 non-null      float64
 9   Unnamed: 9       0 non-null      float64
 10  BallsFaced       12 non-null     float64
 11  BattingPosition  12 non-null     float64
 12  Dismissal        12 non-null     object
 13  Inning           12 non-null     float64
 14  Opposition       12 non-null     object
 15  Year             12 non-null     float64
dtypes: float64(13), object(3)
memory usage: 2.1+ KB

```
variables 
    1> Numercal - int
    2> Categorical - object

non-null => python's way to identify missing values   
```

In [5]:
mydata.describe()

,RunsScored,x -xbar,(x-xbar)^2,z score,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,BallsFaced,BattingPosition,Inning,Year
count,14.000000,12.000000,13.000000,12.000000,0.0,0.0,0.0,0.0,0.0,12.000000,12.000000,12.000000,12.000000
mean,48.877709,3.187500,5382.028846,0.017042,NaN,NaN,NaN,NaN,NaN,41.000000,3.166667,1.500000,2013.000000
std,65.503273,56.295701,10486.533065,0.300985,NaN,NaN,NaN,NaN,NaN,47.962106,0.389249,0.522233,2.486326
min,0.000000,-38.250000,256.000000,-0.204504,NaN,NaN,NaN,NaN,NaN,5.000000,3.000000,1.000000,2009.000000
25%,6.250000,-32.500000,855.562500,-0.173762,NaN,NaN,NaN,NaN,NaN,10.500000,3.000000,1.000000,2011.750000
50%,17.000000,-24.750000,1105.562500,-0.132326,NaN,NaN,NaN,NaN,NaN,22.500000,3.000000,1.500000,2013.000000
75%,70.312500,22.687500,1827.562500,0.121299,NaN,NaN,NaN,NaN,NaN,37.250000,3.000000,2.000000,2014.250000
max,187.037931,144.750000,34983.187500,0.773907,NaN,NaN,NaN,NaN,NaN,148.000000,4.000000,2.000000,2017.000000

#find 5 number summary helpful for exploratory data analysis

In [6]:
mydata.groupby('Opposition')['RunsScored'].sum().sort_values(ascending=False)

Opposition
Pakistan    459.0
Name: RunsScored, dtype: float64

In [7]:
mydata.groupby('Opposition')['RunsScored'].mean().sort_values(ascending=False)

Opposition
Pakistan    38.25
Name: RunsScored, dtype: float64

In [8]:
mydata.groupby('Year')['RunsScored'].sum().sort_values(ascending=False)

Year
2017.0    290.0
2015.0     81.0
2013.0     43.0
2014.0     22.0
2012.0     13.0
2010.0      5.0
2011.0      5.0
2009.0      0.0
Name: RunsScored, dtype: float64

In [9]:
mydata.groupby(['Year', 'Opposition'])['RunsScored'].sum().sort_values(ascending=False)

Year    Opposition
2017.0  Pakistan      290.0
2015.0  Pakistan       81.0
2013.0  Pakistan       43.0
2014.0  Pakistan       22.0
2012.0  Pakistan       13.0
2010.0  Pakistan        5.0
2011.0  Pakistan        5.0
2009.0  Pakistan        0.0
Name: RunsScored, dtype: float64

In [10]:
mydata['Dismissal'].value_counts()

Dismissal
Caught    8
Bowled    2
NO        2
Name: count, dtype: int64

In [11]:
mydata.groupby(['Year', 'Opposition'])['RunsScored'].sum().sort_values(ascending=False).head(1)

Year    Opposition
2017.0  Pakistan      290.0
Name: RunsScored, dtype: float64

In [14]:
mydata_runs = mydata['RunsScored'].value_counts()

In [15]:
mydata.Opposition.unique()

array(['Pakistan', nan], dtype=object)

In [16]:
mydata.groupby(['Opposition'])['RunsScored'].sum().sort_values(ascending=True).head(5)

Opposition
Pakistan    459.0
Name: RunsScored, dtype: float64

In [17]:
mydata.groupby('Inning')['RunsScored'].nunique()

Inning
1.0    6
2.0    6
Name: RunsScored, dtype: int64

In [19]:
mydata.groupby(['Opposition'])['RunsScored'].agg(['sum','median', 'sum'])

              sum  median    sum
Opposition
Pakistan    459.0    12.5  459.0

In [20]:
pd.crosstab(index = mydata['Inning'],columns=mydata['Dismissal'],values=mydata['Dismissal'],margins=True,aggfunc='count')

#margin gives the sum of all

Dismissal  Bowled  Caught  NO  All
Inning
1.0             1       4   1    6
2.0             1       4   1    6
All             2       8   2   12

In [20]:
pd.crosstab(index = mydata['Inning'],columns=mydata['Dismissal'],values=mydata['Dismissal'],margins=False,aggfunc='count')

Dismissal  Bowled  Caught  Hit wicket  LBW    NO  Run out  Stumped
Inning
1            12.0    54.0         1.0  5.0   8.0     10.0      NaN
2             9.0    67.0         NaN  7.0  29.0      2.0      4.0

In [19]:
mydata['Strike_Rate'] = mydata['RunsScored']/mydata['BallsFaced']
mydata['post_transform'] = mydata['Year']>2012
mydata

,RunsScored,BallsFaced,BattingPosition,Dismissal,Inning,Opposition,Year,Strike_Rate,post_transform
0,12,22,2,LBW,1,Sri Lanka,2008,0.545455,False
1,37,67,2,Caught,2,Sri Lanka,2008,0.552239,False
2,25,38,1,Run out,1,Sri Lanka,2008,0.657895,False
3,54,66,1,Bowled,1,Sri Lanka,2008,0.818182,False
4,31,46,1,LBW,2,Sri Lanka,2008,0.673913,False
...,...,...,...,...,...,...,...,...,...
203,140,107,3,Stumped,2,West Indies,2018,1.308411,True
204,157,129,3,NO,1,West Indies,2018,1.217054,True
205,107,119,3,Bowled,2,West Indies,2018,0.899160,True
206,16,17,3,Caught,1,West Indies,2018,0.941176,True
207,33,29,3,NO,2,West Indies,2018,1.137931,True

In [25]:
mydata.groupby('post_transform')['RunsScored'].sum()

post_transform
False    3886
True     6346
Name: RunsScored, dtype: int64

In [26]:
mydata.groupby(['post_transform','Inning'])['RunsScored'].mean()

post_transform  Inning
False           1         36.421053
                2         50.040000
True            1         51.461538
                2         53.970588
Name: RunsScored, dtype: float64

In [28]:
pd.crosstab(index = mydata['post_transform'], columns=mydata['BattingPosition'], values=mydata['RunsScored'], margins=True, aggfunc='sum')

BattingPosition      1     2       3       4      5     6     7    All
post_transform
False            110.0  49.0  2231.0  1312.0  123.0  23.0  38.0   3886
True               NaN   2.0  5908.0   432.0    4.0   NaN   NaN   6346
All              110.0  51.0  8139.0  1744.0  127.0  23.0  38.0  10232