<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Session 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to print following pattern</b>
                    
                 </font>
            </div>
        </td>
    </tr>
</table>

A  
B C  
D E F  
G H I J  
K L M N O  
P Q R S T U

In [1]:
# Type your code here

# Left triangle pattern
initValue = 65 
for i in range(0, 6):
    for j in range(i+1):
        alphabet = chr(initValue)
        print(alphabet, end=' ')
        initValue = initValue + 1
          
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program to print tables from 2 to a user provided range (take number from user)
                 </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
# Type your code here
input_range = int(input("Enter range:"))

for i in range(2, input_range+1):
    for j in range(1 ,11):
        print(i,"x",j,"=",i*j)
    print("-------")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
-------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
-------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
-------

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Consider the given two tuples. Divide corresponding elemets of two tuples and print the result as tuple (use zip())</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

   **The original tuple 1 : (10, 4, 6, 9)**

   **The original tuple 2 : (5, 2, 3, 3)**

   **Output: (2, 2, 2, 3)**

In [1]:
# Type your code here

tuple1 = (10, 4, 6, 9)

tuple2 = (5, 2, 3, 3)

tuple3 = tuple(zip(tuple1,tuple2))

tuple_output = ()

print("tuple1: ",tuple1)
print("tuple2: ",tuple2)

print("Zip tuple: ",tuple3)


for i in range(0,4):
            x = tuple3[i][0] 
            y =  tuple3[i][1]
            tuple_output = tuple_output + (int(x/y),)

print("Output: ",tuple_output)

tuple1:  (10, 4, 6, 9)
tuple2:  (5, 2, 3, 3)
Zip tuple:  ((10, 5), (4, 2), (6, 3), (9, 3))
Output:  (2, 2, 2, 3)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a program to find words whose length is less than 5 from the given multi-dimensional list. Store those word in a list and print that list</b>
                    <br>
                </font>
            </div>
        </td>
    </tr>
</table>

**astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']] **

In [2]:
# Type your code here

astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']]


for i in range(0,3):
    for j in range(0,3):
        length = len(astro[i][j])
        if length < 5:
            print(astro[i][j])

sky
sun
moon
star
mars

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program to append a dictionary to a tuple</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**The original tuple : (4, 5, 6)**

**Tuple after addition of dictionary : (4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})**

In [4]:
# Type your code here

original_tuple = (4, 5, 6 )

original_dictionary = {'gfg': 1, 'is': 2, 'best': 3}

updated_tuple = ()

updated_tuple = original_tuple + (original_dictionary,)

print(updated_tuple)

(4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether two strings are anagram or not (take input from user)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**Hint: An anagram of a string is another string that contains same characters, only the order of characters can be different.**

In [19]:
# Type your code here

string1 = input("Enter string1:")
print("String1: ",string1)

string2 = input("Enter string2:")
print("String2: ",string2)

for i in string1: 
    if i not in string2:
        anagram = False
        break
    else:
         anagram = True 

if anagram == True:
    print("Entered strings are anagram")   
else:
    print("Entered strings are not anagram")

String1:  angel
String2:  angle
Entered strings are anagram

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to remove space from keys of the given dictionary  </b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 
                'Fruits 0 3 ': 'Grapes'}**

**(Output)New dictionary :   {'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}**

In [32]:
# Type your code here

fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}

updated_fruity = {}

for key,value in fruity.items():
    updated_key = key.replace(' ', '')
    updated_fruity[updated_key] = value

print(updated_fruity)

{'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to transpose a matrix using list comprehension</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**matrix=[[1,2],[3,4],[5,6],[7,8]]**<br>
**Output: [[1, 3, 5, 7], [2, 4, 6, 8]]**

In [31]:
# Type your code here

matrix=[[1,2],[3,4],[5,6],[7,8]]

transpose = [[0, 0, 0, 0], [0, 0, 0, 0]]

for i in range(0,4):
    for j in range(0,2):
        transpose[j][i] = matrix[i][j]

print(transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Consider the below string 'input_str'. Take the position index from user and from that position print Mirror string.</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**Hint : Mirror String : In mirror operation, we change ‘a’ to ‘z’, ‘b’ to ‘y’,'c' to 'x' and so on.**

**Example**

**Original String = program**

**Enter a number = 2**

**Output String = prltizn**

In [2]:
# Type your code here

string = 'program'
input = int(input("Enter a number:"))

new_string = ''
i = 0
j =122

while i < len(string):
    if i < input:
        new_string = new_string + string[i] 
        i = i+1 
    else:
            # print("Character in String: ",string[i])
            index = ord(string[i])
            # print("Index:",index)
            rev_index = 122 - (index - 97)
            # print("Reverse Index:",rev_index)
            # print(chr(rev_index))
            new_string = new_string + chr(rev_index)
            i = i+1         
     
print("Output=",new_string)

Output= prltizn

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to create a 5x3 matrix with values in each row as 1,2, and 3</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [27]:
# Type your code here

matrix = [[0,0,0], [0,0,0], [0,0,0], [0,0,0], [0,0,0]]

for i in range(5):
        matrix [i][0] = 0
        matrix [i][1] = 1
        matrix [i][2] = 2
        i += 1
print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. A list of words is given. Convert the words into uppercase.</b>
                    <br>
                    <br>
                    <b>Use lambda and map functions</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']</b><br>
<b>Output: ['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']</b>

In [33]:
# Type your code here
lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']
upper = map(lambda item:item.upper(), lsbool)
output = list(upper) 
print(output)

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Replace 'TRUE' with 1 and 'FALSE' with 0. Use the above question's output as an input to this current question.</b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [37]:
# Type your code here
bool_list = []
for item in output:
    if item == "TRUE":
        bool_list.append('1')
    else:
        bool_list.append('0')   
print(bool_list)

['1', '0', '1', '1', '0', '0', '1']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Create a dictionary containing four lambda functions square, cube, squareroot, multiply by 2.</b>
                    <br><br>
                    <b>E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot': function for squareroot, 'Double': function for double} and so on </b>
                    <br><br>
                    <b>Pass the values (input from the user) to the functions in the dictionary respectively. Then add the outputs of each function and print it.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# Type your code here

dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot': function for squareroot, 'Double': function for double}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. A list of words is given. Find the words from the list that have their second character in uppercase.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']</b><br>
<b>Output: ['hOw', 'ARe']</b>

In [44]:
# Type your code here

ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
output = []

i = 0

while i < len(ls):
    if ls[i][1].isupper():
        output.append(ls[i])
    i += 1

print(output)

['hOw', 'ARe']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Filter the marks from the tuple "tmarks" that are  greater than 40 and print corresponding names from the "tnames" tuple.</b><br><br>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>tnames = ('John','Sharon','Jack','Annie')</b><br>
<b>tmarks = (32,50,75,12)</b>

In [21]:
# Type your code here
tnames = ('John','Sharon','Jack','Annie')
tmarks = (32,50,75,12)
i = 0

while i <len(tmarks): 
        if tmarks[i] > 40:
            print(tnames[i])
        i =  i + 1

Sharon
Jack

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 16. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions)</b><br> 
                </font>
            </div>
        </td>
    </tr>
</table>

```
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}       # Weight of people in kg
GMoon = 1.622                                              # Gravitational force on the Moon: 1.622 m/s2
GEarth = 9.81                                              # Gravitational force on the Earth: 9.81 m/s2

Output: 
Weight on Moon:  {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}
```

In [14]:
# Type your code here
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}       # Weight of people in kg
GMoon = 1.622                                              # Gravitational force on the Moon: 1.622 m/s2
GEarth = 9.81                                              # Gravitational force on the Earth: 9.81 m/s2


# WeightOnMoon = dict(map(lambda (k,v): (k, v* 1.622) ,WeightOnEarth ))

WeightOnMoon = dict(map(lambda item: (item[0], round(item[1] * 1.622,2)), WeightOnEarth.items()))  # <<<<<<<<<
                   
print(WeightOnMoon)

{'John': 72.99, 'Shelly': 105.43, 'Marry': 56.77}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 17. A list containing multiple lists is given. Convert each inner list into sets and find intersection of all the sets.</b><br><b>Use reduce function.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]</b><br>
<b>Output: {8, 3}</b>

In [30]:
# Type your code here
given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]

i = 0
for item in given_sets:
    globals()[f"set_{i}"]= set(item)   # <<<<<<<<
    i = i + 1

print()
print("Sets generated from list:")
print(set_0)  
print(set_1) 
print(set_2) 
print(set_3) 
print(set_4) 
print("Intersection of Sets generated from list:")
print("Output:",set_0 & set_1 & set_2 & set_3 & set_4)

Sets generated from list:
{1, 2, 3, 4, 8}
{2, 3, 5, 6, 8}
{3, 4, 5, 7, 8}
{8, 9, 3, 6}
{1, 3, 4, 6, 7, 8, 9, 12, 21}
Intersection of Sets generated from list:
Output: {8, 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 18. Count the number of characters in the string (given by the user) that are not present in the 'glstring'. Do not count the white spaces.</b><br>
                    <br>
                    <b> Use Recursion</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>glstring = 'great'</b>

In [35]:
# Type your code here
glstring = 'great'

inputstring = input("Enter Input String:")

count = 0

for i in inputstring:
    if i not in  glstring:
        if not i == ' ':
            count = count + 1

print(count)

4

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 19. Two sets are given below. One set contains the name of players who played in World Cup 2011. The other set contains the name of playes who played in World Cup 2015.</b><br>
                    <b>Perform the following operations: 
                    <ol type = '1'>
                        <li> Find the list of all players who played in either 2011 or 2015 World Cup. </li>
                        <li> Find the list of players who played for both 2011 and 2015 World Cup. </li>
                        <li> Find the list of players who were 'not' the part of 2011 World Cup and played in 2015 World Cup</li>
                     </ol>
                    </b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [39]:
WCup2011 = {'Dhoni', 'Sehwag', 'Raina', 'Tendulkar', 'Gambhir', 'Kohli', 'Yuvraj', 'Yufsuf'}
WCup2015 = {'Dhoni', 'Dhawan', 'Raina', 'Rohit', 'Rahane', 'Kohli', 'Jadeja', 'Rayudu'}

In [41]:
# Solution 1.
# Type your code here
print(WCup2011.union(WCup2015))

{'Rayudu', 'Dhoni', 'Sehwag', 'Yufsuf', 'Tendulkar', 'Dhawan', 'Gambhir', 'Yuvraj', 'Rahane', 'Rohit', 'Jadeja', 'Kohli', 'Raina'}

In [40]:
# Solution 2.
# Type your code here
print( WCup2011 & WCup2015)

{'Dhoni', 'Kohli', 'Raina'}

In [43]:
# Solution 3.
# Type your code here
print(WCup2011.union(WCup2015) - (WCup2011 & WCup2015)- WCup2011)

{'Rayudu', 'Dhawan', 'Rahane', 'Jadeja', 'Rohit'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 20. Find the cumulative average of the list [9,8,7,6,5] using accumulate() and lambda function.</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>Input list: [9,8,7,6,5]</b>

In [11]:
# Type your code here
from itertools import accumulate

# List of numbers
numbers = [9, 8, 7, 6, 5]

# Calculate the cumulative average
cumulative_average = list(accumulate(numbers, lambda x, y: (x[0] + y, x[1] + 1), initial=(0, 0)))
cumulative_average = [total / count if count != 0 else 0 for total, count in cumulative_average]

print(cumulative_average)

[0, 9.0, 8.5, 8.0, 7.5, 7.0]