In [1]:
a = -5
type(a)

int

In [2]:
x = 3.14
type(x)

float

In [3]:
num = 30
var1 = "Arthur"
var2 = var1
var2

'Arthur'

In [4]:
x = 3+4j
type(x)

complex

In [5]:
string = "Introduction to Python"
string

'Introduction to Python'

In [6]:
print(string)

Introduction to Python

In [3]:
str1 = "PES"
str2 = "University"
str3 = str1 + str2
print(str3)
print(str1+" "+str2)
print(str1+"**"+str2)

PESUniversity
PES University
PES**University

In [9]:
str3*3
#You cannot use minus and disvision with Strings

'PESUniversityPESUniversityPESUniversity'

In [13]:
#Fist index is 0
string[5]

'd'

In [14]:
#Last index is -1
string[-1]

'n'

In [16]:
string[13:22] #Includes 13th and excludes 22nd index

'to Python'

In [17]:
string[13:21]

'to Pytho'

In [20]:
string[13:-1]

'to Pytho'

In [18]:
string[13:13]

''

In [21]:
#Strings are immutable
string[0]='P'

TypeError: 'str' object does not support item assignment

In [25]:
var = True # For Booleans T,F for True and False should be upper case and don't use quotes
type(var)

bool

In [2]:
print(10>0)

True

In [24]:
print(10==9)

False

In [27]:
float(11)

11.0

In [28]:
float(True)

1.0

In [1]:
float(False)

0.0

In [1]:
float("abc") #Strings cannot be converted to float

ValueError: could not convert string to float: 'abc'

In [31]:
float("11")

11.0

In [32]:
float("2.24e-2")

0.0224

In [33]:
int(11.7)

11

In [34]:
int(True)

1

In [35]:
int(-11.7)

-11

In [36]:
int(False)

0

In [37]:
int("PES") #Strings cannot be converted to integer

ValueError: invalid literal for int() with base 10: 'PES'

In [38]:
int("11")

11

In [39]:
str(2.24)

'2.24'

In [40]:
str(False)

'False'

In [2]:
str(22)

'22'

In [42]:
print("Hello World")

x = 2
print("x=",x)

Hello World
x= 2

In [45]:
x=2
a=8
print("x=",x, end='\n\n\n')
print("Hello \n\n")
print("a=",8, sep='$') #Separator comes before the value

x= 2


Hello


a=$8

In [51]:
age = int(input("Enter your age"))
print(age)
type(age)

Enter your age 22

22

int

In [1]:
name = input("Enter your Name")
print("Hello "+name)
type(name)

Enter your Name Anurag

Hello Anurag

str

In [11]:
a = 6
b = 3
print(a/b)
print(a//b)  #Floor Operator
print(a%b)   #Remainder
print(a+b)
print(a-b)

print(a>b)
print(a==b)
print(a!=b)

2.0
2
0
9
3
True
False
True

In [13]:
x=4.1
y=2.7

print(x+y)

6.8

In [24]:
x=5
x += 5
print(x)
x -= 2
print(x)
x *= 2
print(x)
print(x*=2)  #We cannot print while performing assignment operation

SyntaxError: invalid syntax (2987170238.py, line 7)

In [25]:
x =11
a= x>10 and x<20
print(a)

True

In [26]:
x =11
a= x>10 and x==20
print(a)

False

In [27]:
x =11
a= x>10 or x==20
print(a)

True

In [28]:
x =11
a= x>10 or x==20
print(not a)

False

In [29]:
a='PES University'

print('X' in a)

False

In [30]:
x=5

if x<0:
    print("x is negative")
elif x>2:
    print("x is positive and odd")
else:
    print("x is even and non-negative")

x is positive and odd

In [32]:
n = 10

sum = 0

i =1 

while i <=n:
    sum = sum +i
    i = i+1

print (sum)

55

In [42]:
n = 6

fibonacci = 1


while n >0:
    fibonacci = fibonacci * n
    n = n-1 

print (fibonacci)

720

In [36]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [36]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [39]:
string = "Python Programming"

for i in range(len(string)):
    print(string[i])

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

In [44]:
str = "He's a nice person"
print(str)

He's a nice person

In [46]:


y = '''He said , "How are you ?" '''
print(y)

He said , "How are you ?"

In [47]:
x = 'Hi'

In [48]:
x

'Hi'

In [49]:
print(x)

Hi

In [50]:
list1 = []

list2 = list1

print(list1)

[]

In [51]:
my_list = [['DS', 'ML'], [135,43]] #Nested List
print(my_list)

[['DS', 'ML'], [135, 43]]

In [58]:
course = ['DS', 'ML','Python']
print(course[1])
print(course[-1])
print(course[-2])
len(course)

ML
Python
ML

3

In [59]:
my_list = [['DS', 'ML'], [135,43]] #Matrix
print(my_list[1][1])
len(my_list)

43

2

In [63]:
#List [] is Mutable 
#List Operations


course = ['DS', 'ML','Python', 'HTML', 'BigData', 'Cloud']

print(course[:3]) #Start from 0 index and end at 2 exclude 3

print(course[2:]) #Start from 2 index till end

print(course[0:4]) #Start from 0 index and end at 3 exclude 4

['DS', 'ML', 'Python']
['Python', 'HTML', 'BigData', 'Cloud']
['DS', 'ML', 'Python', 'HTML']

In [66]:
a = [1.2,3,4,5,6,7,8,9,10]
print(a[2:7:2])  # Print at step of 2 
print(a[7:0:2])

course [3]= "Statistics"

print(course)

[4, 6, 8]
[]
['DS', 'ML', 'Python', 'Statistics', 'BigData', 'Cloud']

In [3]:
c1 = ['DS', 'ML','Python', 'HTML', 'BigData', 'Cloud']

c3 = 'PyTorch'

c1.append('DevOps')  #Appending element in list


print(c1)

c1.append(c3)
print(c1)

c2 = ['DS', 'ML','Python', 'HTML', 'BigData', 'Cloud']

c2.insert(2,'DevOps') #Inserting element in list

print(c2)

['DS', 'ML', 'Python', 'HTML', 'BigData', 'Cloud', 'DevOps']
['DS', 'ML', 'Python', 'HTML', 'BigData', 'Cloud', 'DevOps', 'PyTorch']
['DS', 'ML', 'DevOps', 'Python', 'HTML', 'BigData', 'Cloud']

In [1]:
c1 = ['DS', 'ML','Python', 'HTML', 'BigData', 'Cloud']

c2 = ['AI','Blockchain']

c1.extend(c2)
print(c1)

['DS', 'ML', 'Python', 'HTML', 'BigData', 'Cloud', 'AI', 'Blockchain']

In [82]:


del c1[2]

print(c1)

['DS', 'ML', 'HTML', 'BigData', 'Cloud', 'AI']

In [83]:
del c1[0:2]

In [84]:
print(c1)

['HTML', 'BigData', 'Cloud', 'AI']

In [85]:
c1= ['HTML', 'BigData', 'HTML','Cloud', 'AI']
c1.remove('HTML')

In [86]:
print(c1)

['BigData', 'HTML', 'Cloud', 'AI']

In [89]:
course = ['DS', 'ML', 'Python', 'HTML', 'BigData', 'Cloud', 'AI', 'Blockchain']

print(course.pop())

print(course)

Blockchain
['DS', 'ML', 'Python', 'HTML', 'BigData', 'Cloud', 'AI']

In [92]:
course.reverse()   #? Check
print()

In [93]:
course*2   #? Check

print(course)

['AI', 'Cloud', 'BigData', 'HTML', 'Python', 'ML', 'DS']

In [94]:
#Tuple () is a collection which is ordered and immuatble. 


my_tuple=("hello", "python", 2.28)

print(my_tuple)

('hello', 'python', 2.28)

In [95]:
my_tuple1=(("hello", "python"), (2.28,1.47))

print(my_tuple1)

(('hello', 'python'), (2.28, 1.47))

In [112]:
mytuple=("hello", "python", "orange","green","orange","pink")

print(mytuple[1])

print(mytuple[3:5])

print(mytuple[-2])

python
('green', 'orange')
orange

In [108]:
mytuple=(123, ['s','a','v'],"world")

mytuple [1][2] =99

print(mytuple)

(123, ['s', 'a', 99], 'world')

In [3]:
my_tuple_list = [(1,2), (3.78, 9.56), ("StudyTonight", "Study")]
del my_tuple_list[0]
print(my_tuple_list)

[(3.78, 9.56), ('StudyTonight', 'Study')]

In [2]:
mytuple=(123, ['s','a','v'],"world")
x = mytuple.index('world')  
print(x)

2

In [115]:
mytuple = (1,5,6,7,3,813,22,3)
sorted(mytuple)

[1, 5, 6, 7, 22, 813]

In [119]:
count=mytuple.count(3)
print(count)

0

In [6]:
# Dictionaries {} stores data in key value pair
# Keys should be unique, if duplicates are there it will return the most updated value 

balance= {
    "Mia": 8847,
    "John": 8347,
    "Jack": 8674,
}

print(balance)

{'Mia': 8847, 'John': 8347, 'Jack': 8674}

In [8]:
x = balance.get("Mia")


print(x)
print(balance["Mia"])

8847
8847

In [131]:
sales= {
    2016 : 8847,
    2017 : 8347,
    2018 : 8674,
}


sales[2016] =4500

print(sales)

{2016: 4500, 2017: 8347, 2018: 8674}

In [135]:
print(len(sales))

3

In [136]:
sales['2019'] = 6500
print(sales)

{2016: 4500, 2017: 8347, 2018: 8674, '2019': 6500}

In [137]:
sales.pop(2016) # Removes the key and value which is specified

4500

In [138]:
print(sales)

{2017: 8347, 2018: 8674, '2019': 6500}

In [14]:
sales1= {
    2016 : 8847,
    2017 : 8347,
    2018 : 8674,
    2019 : 5674,
}

In [ ]:
sales1.popitem()

In [15]:
del sales1[2018]

In [16]:
sales1.update({2018:6674})
print (sales1)

{2016: 8847, 2017: 8347, 2019: 5674, 2018: 6674}
{}

In [16]:
sales1.update({2018:6674})
print (sales1)

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{2016: 8847, 2017: 8347, 2019: 5674, 2018: 6674}
{}

In [17]:
people = {3: "Jim", 2: "Jack", 4: "Jane", 1: "Jill"}

sorted(people.items())

[(1, 'Jill'), (2, 'Jack'), (3, 'Jim'), (4, 'Jane')]

In [147]:
# Set is a  collection of unique elements
# Used to elminate duplicate
# Sets do not have any order


myset ={"python", "world"}

myset.add("hi") # Adds to the begining 

myset

{'hi', 'python', 'world'}

In [149]:
myset.update(['ds','ml']) # Adds to the begining 
myset

{'ds', 'hi', 'ml', 'python', 'world'}

In [150]:
print(len(myset))

5

In [158]:
#Check remove, pop

myset.pop()  # randomly removes an element

'ds'

In [1]:
myset.pop()

NameError: name 'myset' is not defined

In [160]:
print(myset)

{'python', 'world'}

In [2]:
str = "Perl"

list = ["ML", "DS", "Python", "Statistics", "AI"]

if str in list:
    print(str+" Tutorial")
else:
    print("Did Not match the pattern")

Did Not match the pattern

In [3]:
n =150

print(n)

result = n * 7 if n>500 else n/7
print(result)

150
21.428571428571427

In [5]:

usr = input("Enter username:")
passwd = input("Enter Password:")

if (usr == "greatlearning" and passwd=="simplelearning"):
    print("Successfully logged in ...")
else :
    print("Invalid Crdentials...")

Invalid Crdentials...

In [177]:
num = float(input("Enter number:"))

if num > 0:
    if num == 0:
        print("Number is equal to Zero")
    else:
        print(" Non-zero Number")   
else :
    print("Negative Number")

Enter number: -6

Negative Number

In [181]:


num = [22,34,56,67,66,88,98]

sum = 0

for val in num:
    sum = sum+val


print("Sum: ",sum)
print("Avg:",sum/len(num))

Sum:  431
Avg: 61.57142857142857

In [180]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [183]:
x =0

while x<5:
    print(x)
    x += 1

0
1
2
3
4

```
In case of for loop we know how many iterations will be there 
But in case of while loop we don't know how many iterations will be there
```